/dataset_test
/dataset_train
datasets/
feature_extraction/__pycache__/

__pycache__/

*.csv

*.ftr

create_dataset/dataset/images/
create_dataset/dataset/
lib/.ipynb_checkpoints/

dataset/images/

~$Results.xlsx
